@font-face {
  font-family: 'digital-7';
  src: url('./digital-7 (mono).ttf');
}
$digital-font: 'digital-7', 'Orbitron', sans-serif;

.App {
  font-family: $digital-font;
  font-size: 1.2rem;
  text-align: right;
  margin-right: 10%;
  line-height: 1.5em;
}

h1 {
  margin-top: 50px;
  &::first-letter {
    font-size: 130%;
  }
}

li {
  list-style-type: none;
  overflow: hidden;
}

#tm-co {  // colon separator
  &::before { content: ':'; }
  animation: blink 1s infinite;
}

#tm-ss {
  color: DarkGreen;
  &::after { content: attr(data-ss); }
}

#tm-mm {
  font-size: xx-large;
  &::after { content: attr(data-mm); }
}

#tm-dm {
  &::after { content: attr(data-mm); }
}

#tm-hr {
  font-size: xx-large;
  &::after { content: attr(data-hr); }
}

#tm {
  padding-top: 10px;
  background: rgba(244,248,220,.4);
  border: 4px solid rgba(144,238,144,.6);
}

#tm-sd {  // date short form: no year and dow
  border-radius: 25%;
  border-bottom: 4px solid rgba(173,255,47,.3);
  &::after { content: " " attr(data-mo) "/" attr(data-dd) " " attr(data-hr); }
  &:hover {
    background: rgba(255,255,0,.3);
  }
  &[data-dw='0'] { color: red; }
  &[data-dw='6'] { color: blue; }
  &[data-hr='22'],
  &[data-hr='23'],
  &[data-hr='00'],
  &[data-hr='01'],
  &[data-hr='02'],
  &[data-hr='03'],
  &[data-hr='04'],
  &[data-hr='05'],
  &[data-hr='06'] {
    &::before { content: '🌒'; }
    //background: lightgray;
  }
  &[data-hr='07'],
  &[data-hr='08'] {
    &::before { content: '☕️'; }
    //background: magenta;
  }
  &[data-hr='12'] {
    &::before { content: '🍱'; }
  }
  &[data-hr='09'],
  &[data-hr='10'],
  &[data-hr='11'],
  &[data-hr='13'],
  &[data-hr='14'],
  &[data-hr='15'],
  &[data-hr='16'],
  &[data-hr='17'] {
    &[data-dw='0'],
    &[data-dw='6'] {
      &::before { content: '⚽️'; }
    }
    &[data-dw='1'],
    &[data-dw='2'],
    &[data-dw='3'],
    &[data-dw='4'],
    &[data-dw='5'] {
      &::before { content: '✍️'; }
    }
    //background: skyblue;
  }
  &[data-hr='18'],
  &[data-hr='19'],
  &[data-hr='20'],
  &[data-hr='21'] {
    &::before { content: '🍺'; }
    //background: gold;
  }
}

#tm-dt {  // date
  font-size: xx-large;
  border-radius: 20%;
  border-bottom: 4px solid LightGray;
  &::after {
    content: attr(data-mo) "/" attr(data-dd) "/" attr(data-yr);
  }
  &[data-dw='0'] {
    color: red;
    &::before { content: "Sun "; }
  }
  &[data-dw='1'] { &::before { content: "Mon "; } }
  &[data-dw='2'] { &::before { content: "Tue "; } }
  &[data-dw='3'] { &::before { content: "Wed "; } }
  &[data-dw='4'] { &::before { content: "Thu "; } }
  &[data-dw='5'] { &::before { content: "Fri "; } }
  &[data-dw='6'] {
    color: blue;
    &::before { content: "Sat "; }
  }
  background: rgba(244,248,220,.2);
}

%text-emphasis {
  font-weight: bold;
  color: black;
  border-radius: 50%;
  background: rgba(244,248,220,.3);
  border: 8px solid rgba(255,255,0,.4);
}

#tm-ct {  // city name
  font-family: Helvetica, sans-serif;
  color: DarkGray;
  &::before {
    content: attr(data-ct);
  }
  &::after {
    content: ' ' attr(data-cs);
  }
  &[data-ct='Tokyo'],
  &[data-ct='San Francisco'] {
    @extend %text-emphasis;
  }
}

@keyframes blink {
  to { opacity: 0; }
}

// Webcam
.vid-cont {
  position: fixed;
  left: 0;
  top : 0;
  text-align: left;
  width : 100%;
  height: 100%;
  font-family: Helvetica, Verdana;
  &::before {
    font-size: small;
    margin: 10px;
    color: DarkGreen;
    content: attr(data-src);
  }
  z-index: -100;
}

.vid-fw {
  position: fixed;
  left: 0;
  top : 0;
  width : 100%;
  height: 100%;
  &:hover {
    box-shadow: 0 0 10px 6px Magenta;
  }
  &:focus {
    outline: 0;
  }
  border-radius: 5%;
  border: 2px solid Silver;
  box-shadow: 0 0 10px 6px Cyan;
  object-fit: cover;
  z-index: -100;
  //filter: brightness(2.5);
  //pointer-events: none;
  transition: all 1s ease-in;
}

@mixin btnDemo($borderColor) {
  background-color: Gainsboro;
  border: 2px solid $borderColor;
  color: black;
  padding: 4px 4px;
  font: small "Courier New", sans-serif;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

.btn-cont {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 10px;
  padding-top: 120px;
}

.test-btn {
  left: 10px;
  top:  10px;
  padding: 4px;
  margin:  2px;
  border-radius: 10%;
  @include btnDemo(#4caf50);
}

.test-btn:disabled,
test-btn[disabled] {
  border: 1px solid olive;
  background-color: darkgray;
  color: SlateGray;
}
