@font-face {
  font-family: 'digital-7';
  src: url('./digital-7 (mono).ttf');
}
$digital-font: 'digital-7', 'Orbitron', sans-serif;

.App {
  font-family: $digital-font;
  font-size: 1.5rem;
  text-align: right;
  margin-right: 200px;
  line-height: 1.5em;
}

h1 {
  &::first-letter {
    font-size: 150%;
  }
}

li {
  list-style-type: none;
}

#tm-co {  // colon separator
  &::before {
    content: ':';
  }
  animation: blink 1s infinite;
}

#tm-ss {
  font-size: small;
  color: green;
  &::after { content: attr(data-ss); }
}

#tm-mm {
  &::after { content: attr(data-mm); }
}

#tm-hr {
  font-weight: bold;
  &::after { content: attr(data-hr); }
  &:hover {
    background: yellow;
  }
  &[data-hr='22'],
  &[data-hr='23'],
  &[data-hr='00'],
  &[data-hr='01'],
  &[data-hr='02'],
  &[data-hr='03'],
  &[data-hr='04'],
  &[data-hr='05'],
  &[data-hr='06'] {
    &::before { content: '🌒'; }
    //background: lightgray;
  }
  &[data-hr='07'],
  &[data-hr='08'] {
    &::before { content: '🥯'; }
    //background: magenta;
  }
  &[data-hr='09'],
  &[data-hr='10'],
  &[data-hr='11'] {
    &::before { content: '✍️'; }
    //background: lightblue;
  }
  &[data-hr='12'] {
    &::before { content: '🍱'; }
  }
  &[data-hr='13'],
  &[data-hr='14'],
  &[data-hr='15'],
  &[data-hr='16'],
  &[data-hr='17'] {
    &::before { content: '✍️'; }
    //background: skyblue;
  }
  &[data-hr='18'],
  &[data-hr='19'],
  &[data-hr='20'],
  &[data-hr='21'] {
    &::before { content: '🍺'; }
    //background: gold;
  }
}

#tm-dt {  // date
  &::after {
    content: attr(data-mo) "/" attr(data-dd) "/" attr(data-yr);
  }
  &[data-dw='0'] {
    color: red;
    &::before { content: "Sun "; }
  }
  &[data-dw='1'] { &::before { content: "Mon "; } }
  &[data-dw='2'] { &::before { content: "Tue "; } }
  &[data-dw='3'] { &::before { content: "Wed "; } }
  &[data-dw='4'] { &::before { content: "Thu "; } }
  &[data-dw='5'] { &::before { content: "Fri "; } }
  &[data-dw='6'] {
    color: blue;
    &::before { content: "Sat "; }
  }
}

#tm-sd {  // date short form: no year and dow
  &::after {
    content: attr(data-mo) "/" attr(data-dd);
  }
  &[data-dw='0'] { color: red; }
  &[data-dw='6'] { color: blue; }
}

#tm-ct {  // city name
  font-family: Helvetica, sans-serif;
  color: DarkGray;
}

@keyframes blink {
  to { opacity: 0; }
}
